@model CategoriesListViewModel

<a asp-controller="items" asp-action="@Model.action">All</a>
@foreach (var category in Model.categories)
{
    <a asp-controller="items" asp-action="@Model.action" asp-route-category="@category.CategoryId">@category.Name</a>
}

