@model QualityCapsIrina.Models.ViewModels.LoginViewModel

@*<div class="login-container">*@
    @*iv class="login-form-container">*@        
        <section id="form">
            <!--form-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4 offset-md-2 offset-sm-0">
                        @await Component.InvokeAsync("LoginForm")
                    </div>
                    <div class="col-sm-2 align-self-center">
                        <h2 class="or">OR</h2>
                    </div>
                    <div class="col-sm-4 align-self-center">
                        <a class="btn btn-info" asp-action="Register" asp-controller="Account">Create new account</a>
                    </div>
                </div>
            </div>
        </section><!--/form-->
    @*</div>*@
@*</div>*@