
@{
    ViewData["Title"] = "Account";
}

@model QualityCapsIrina.Models.ViewModels.RegisterViewModel


<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 offset-lg-4 offset-sm-3">
                @await Component.InvokeAsync("RegisterForm")
            </div>            
        </div>
    </div>
</section><!--/form-->