@{
    ViewData["Title"] = "Contact";
}

<section class="bg-white p-t-66 p-b-60">
    <div class="row">
        <div class="col-md-6 p-b-30">
            <div class="p-r-20 p-r-0-lg">
                <div class="contact-map size21" id="google_map" data-map-x="-36.845360" data-map-y="174.766243" data-pin="/images/icons/icon-position-map.png" data-scrollwhell="0" data-draggable="1"></div>
            </div>
        </div>

        <div class="col-md-6 p-b-30">
            
        </div>
    </div>

</section>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQFoolzt4sLvXg2nSIWlmxjKDO_0CI_zE"></script>
    <script src="~/js/map.js" asp-append-version="true"></script>
}