
@{
    ViewData["Title"] = "Index";
}

<div class="config-panel">
    <div class="config-block">
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index">
            Manage categories
        </a>
    </div>
    <div class="config-block">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
            Manage items
        </a>
    </div>
    <div class="config-block">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
            Manage suppliers
        </a>
    </div>
    <div class="config-block">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
            Manage suppliers
        </a>
    </div>
    <div class="config-block">
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">
            Manage users
        </a>
    </div>
</div>


