@model ShopViewModel
@{
    ViewData["Title"] = "Women";
}

<section class="women-banner d-flex justify-content-start align-items-end pl-3 pb-3">
    @*<h2 class="section-header">Women</h2>*@
</section>
<div class="page-content-wrapper">
    @await Html.PartialAsync("ShopPageView", Model)
</div>

@section StyleSheets {
    <link href="~/css/shopping-page.css" rel="stylesheet" />
}
@section Scripts {
    <script type="text/javascript">
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect1')
        });

        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#dropDownSelect2')
        });
    </script>
    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 500,
                values: [75, 300],
                slide: function (event, ui) {
                    $("#value-lower").text(ui.values[0]);
                    $("#value-upper").text(ui.values[1]);
                }
            });
            $("#value-lower").text($("#slider-range").slider("values", 0));
            $("#value-upper").text($("#slider-range").slider("values", 1));
        });
    </script>
}