@model RegisterViewModel

<div class="signup-form">
    <!--sign up form-->
    <h2>New User Signup!</h2>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <input id="register-email" asp-for="Email" placeholder="Email" />            
        </div>
        <div>
            <input id="register-password" asp-for="Password" placeholder="Password" />
        </div>
        <div>
            <input asp-for="PasswordConfirm" placeholder="Confirm password" />
        </div>
        <button type="submit" class="btn btn-default">Signup</button>
    </form>
</div><!--/sign up form-->