
@{
    ViewData["Title"] = "Checkout";
}
<div class="page-content-wrapper">
    <h2>Success</h2>
    <p>Order has been successfully submitted. Our customer service will get in touch with you shortly to confirm the order</p>
</div>


