<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QualityCapsIrina</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/account.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" 
              integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="nav-top">
        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>   
    </nav>
    <nav class="nav-main">
        <div class="nav-block nav-categories">
            <a asp-controller="Items" asp-action="Men" class="nav-item">Men</a>
            <a asp-controller="Items" asp-action="Women" class="nav-item">Women</a>
            <a href="#" class="nav-item"><i class="fas fa-search"></i></a>
        </div>
        <div class="nav-block nav-logo">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo-qc.png" alt="logo" />
            </a>
        </div>
        <div class="nav-block nav-user-actions">
            @if (User.Identity.IsAuthenticated)
            {
                <p class="nav-item welcome">@User.Identity.Name</p>
                @if (User.IsInRole("admin")) {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="Index" class="nav-item"><i class="fas fa-cog"></i> Admin Panel</a>
                }
                <form method="post" asp-controller="Account" asp-action="LogOff" class="nav-item">
                    <button type="submit"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
            }
            else
            {
            <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-item"><i class="fas fa-user"></i> Login</a>
            }

            <a href="#" class="nav-item"><i class="fas fa-shopping-bag"></i> Cart</a>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Quality Caps Irina</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"                
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"                
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                crossorigin="anonymous">
        </script>
        <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
                asp-fallback-src="~/lib/fontawesome-free-5.0.10/svg-with-js/js/fontawesome-all.min.js"
                crossorigin="anonymous"
                integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
